<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/default.layout.ejs') %>
<body>
    <div class="container">
        <%- include("./partials/header.ejs") %>
        <main>
            <div class="main-container">
                <h2>Chat with strangers!</h2>
                <div class="name-input">
                    <form action="/rooms" method="post">
                        <input id="name" type="text" placeholder="Enter your name" name="name" />
                        <button id="submit-button" type="submit" class="intro-btn">Enter</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <!-- <div id="loading">
        <h3>Loading...</h3>
    </div> -->
</body>
</html>