<!DOCTYPE html>
<html lang="en">
<%- include('./partials/room.layout.ejs') %>

    <body>
        <div class="container">
            <%- include("./partials/header.ejs") %>
                <div class="chatbox-container">
                    <div class="chat-rooms">
                        <% Object.keys(rooms).forEach((room)=> { %>
                            <div class="chat-room">
                                <div>
                                    <span>
                                        <%= room %>
                                            <span>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <div class="chatbox">
                            <div class="message-wrapper">
                            </div>
                            <form class="input-wrapper" id="send-form" method="post">
                                <input id="chat-message" type="text" placeholder="Message" />
                                <button id="chat-submit" type="submit" class="intro-btn">Enter</button>
                            </form>
                    </div>
                </div>
        </div>
        <script>
            let username = "<%- name %>"
        </script>
    </body>

</html>